.preview
    border: 2px solid gray
    transform: translateY(0px)
    transition: transform 0.5s
    width: 20%
    margin: auto

.preview:hover
    transform: translateY(-10px)
    transition: transform 0.5s