.post-preview
    width: 20%
    border: 2px solid gray
    border-radius: 15px
    margin: auto
    display: inline-block
    transform: translateY(10px)
    transition: all 1s

.post-preview p
    font-size: 1.5em

.post-preview:hover
    transform: translateY(-10px)

        