
<div class="introduction">
    <div class=intro-text-wrapper>
        <div class="left">
            <p class="welcome-text">Hi!</p>
            <p>&emsp;My name is Alexander Quatrini, and I am a recent graduate from Northern Illinois University. 
            I love programming, tabletop RPGs, and long walks on the beach. Join me on my journey through life.</p>
            <p>&emsp;If you are an employer, and you haven't seen my online resume yet, click the button below!</p>
        </div>
        <div class="right">
            <app-image-carousel class="flex-carousel"></app-image-carousel>
        </div>
    </div>
</div>