<div *ngIf="blogPostData$ | async as data else noData">
    <div class="header">
        <h1>{{data[0].title}}</h1>
    </div>
<div class="content-sidebar-wrapper">
    <div class="content">
        <p>{{data[0].content}}</p>
    </div>
    <div class="sidebar-wrapper">
        <div class="sidebar" *ngIf="relatedPosts$ | async as rposts else noRelated"> 
        <p>Related articles:</p>
            <div *ngFor="let rpost of rposts" [routerLink]= "['/posts/' + rpost.id + '/' + rpost.type + '/' + rpost.blog_slug + '/']" class= "preview">
                <p>{{rpost.title}}</p>   
            </div>
        </div>
        <ng-template #noRelated>LOADING...</ng-template>
    </div>
</div>
</div>
<ng-template #noData>LOADING...</ng-template>