.header
    text-align: center
    
h1
    display: inline-block
    padding: 25px 250px
    background-color: black
    box-shadow: 5px 5px 0px -2px #ffffff

.content-sidebar-wrapper
    margin: auto
    width: 85%
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: flex-start
    padding: 20px

.content
    margin: 20px
    flex: 2 1 auto
    background-color: white
    color: #1b262c
    box-shadow: 10px 10px 0px -2px #000000

.sidebar
    margin: 20px
    flex: 1 0 auto
    background-color: white
    color: #0f4c75
    box-shadow: 10px 10px 0px -2px #000
    font-size: 1.5rem