/* You can add global styles to this file, and also import other style files */

h1
  color: #bbe1fa
  font-family: Arial, Helvetica, sans-serif
  font-size: 250%

h2, h3
  color: #0f4c75
  font-family: Arial, Helvetica, sans-serif
  font-weight: lighter
  margin: 0px

body
  background-color: #1b262c
  margin: 0px
  width: 100%


body, input[type="text"], button
  color: #ffffff
  font-family: Cambria, Georgia

.loading
  background-repeat: no-repeat
  background-position: center
  background-image: url("assets/loading-transparent.gif"), radial-gradient(rgba(255,255,255,0.7), rgba(150, 150, 150, 1))
  background-color: white
  z-index: 9999

/* everywhere else */
*
  font-family: Arial, Helvetica, sans-serif